img { display: block; max-width: 100%; }

*{ padding: 0; margin: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif; box-sizing: border-box; }

a, ul, li { text-decoration: none; color: none;}

body{
    background: #333;
    transition: .7s ease-in;
}

.container{
    display: block;
    margin: 0 auto;
    padding: 40px 20px;
    background: #333;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,.25);
    margin-top: 120px;
}

 .titulo{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-bottom: 24px;
    letter-spacing: 0.05em;
    position: relative;
}

.titulo::after{
    content: '';
    position: absolute;
    top: 3px;
    margin-left: 5px;
    height: 26px;
    width: 3px;
    background: rgba(255,255,255,1);
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

#color, #submit{
    margin: 0 auto;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    letter-spacing: 0.05em;
}

#color {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 240px;
    font-size: 24px;
    border-radius: 5px;
    text-align: center;
}

#submit {
    background: #7646ff;
    border: 1px solid #f3f3f3;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 240px;
    color: #fff;
    margin-top: 12px;
    border-radius: 5px;
}

.container .content{
    display: flex;
    margin: 0 auto;
}

.content .length, .content .firstLetter, .content .lastLetter{
    width: 60px;
    height: 60px;
    background: #f3f3f3;
    padding: 7.5px;
    margin: 24px auto 0px auto;
    border-radius: 100%;
    cursor: pointer;
}

.content .length span, .content .firstLetter span, .content .lastLetter span{
    text-transform: lowercase;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    display: block;
    color: #333;
    transition: .8 ease-in;
}

.content .length div, .content .firstLetter div, .content .lastLetter div{
    text-align: center;
    padding: 10px;
    margin-top: 36px;
    height: 40px;
    width: 70px;
    background: #555;
    box-shadow: 0px 0px 20px rgba(0,0,0,.25);
    transform: translate(-10px, 0);
    opacity: 1;
    visibility: visible;
    transition: .3s ease-in;
    border-radius: 5px;
    color: #fff;
}


.notification{
    display: block;
    text-align: center;
    font-size: 24px;
    color: #fff;
    max-width: 240px;
    margin: 80px auto 0px auto;
    height: 80px;
}
